* {
  box-sizing: border-box;
}


.hidden {
  display: none;
}

.visible {
  display: "";
}

#filter-button {
  font-size: 20px;
  position: relative;
  padding-left: 17px;
}
.hideX::before {
  display: none;
}
.showX::before {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -6px;
  content: "";
  background-image: url("./img/X.svg");
  height: 12px;
  width: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#guideContainer div h1, h2, h3, p{
  text-align: center;
}

button {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}


p, h3 {
  margin: 0;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #041B36;
}

h1, h2, input {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #041B36;
}

body {
  background-color: #F0E0C1;
  margin: 0;

}

#indexMain {
  padding: 38px;
  width: 100%;
  height: 100vh;
  background: rgb(240,224,193);
  background: linear-gradient(180deg, rgba(240,224,193,1) 0%, rgba(240,224,193,1) 50%, rgba(240,224,193,0) 100%);
}
#indexMain::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  top:0;
  left: 0;
  background-image: url("./img/cutBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#confirmationMain {
  padding: 38px 0;
  width: 100%;
  height: 100vh;
  background: rgb(240,224,193);
  background: linear-gradient(180deg, rgba(240,224,193,1) 0%, rgba(240,224,193,1) 50%, rgba(240,224,193,0) 100%);
}

#confirmationMain::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  top:0;
  left: 0;
  background-image: url("./img/confirmationBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}



#indexMain div{
  display: flex;
    align-items: center;


}
#indexMain div img {
margin: 0 auto;
}

#indexLogo {
  width: 280px;
  color:#041B36;
}

#logo {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo #indexLogo {
  width: 70px;
  margin-bottom: 10px;
}

#logo #confirmationLogo {
  width: 135px;
  margin-bottom: 20px;
}

#logo hr {
  margin: 0;
  border: none;
  border: 2px solid #041B36;
  width: 160px;
  border-radius: 5px;
}

#indexButtons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#indexButtons button {
  color: white;
  background-color: #041B36;
  border: none;
  border-radius: 10px;
  width: 270px;
  height: 70px;
  margin-bottom: 20px;
}

#reportForm {
  width: 300px;
  margin: 0 auto;
}

#reportDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

#reportDiv h1 {
  margin: 0;
  margin-top: 15px;
}

#reportDiv hr {
  margin: 0;
  margin-top: 30px;
  border: none;
  opacity: 0.3;
  border: 1px solid #5D6871;
  width: 100%;
  border-radius: 1px;
}

#reportDiv input, div {
 width: 100%;
}

#reportDiv div {
  margin: 0;
}

#reportDiv div input {
  padding: 15px;
}

.button.img {
  margin: 0;
}

.button.img, #formSubmit {
  font-size: 35px;
  border: none;
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  height: 55px;
  background-color: #DD7842;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.headline {
  text-align: center;
}

.button.img::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -13.5px;
  background-image: url('./img/Camera.svg');
  height: 27px;
  width: 30px;
  background-size: 30px 27px;

}

#preview {
  width: 100%;

}

#preview img {
  margin: 0;
  width: 45%;
  margin-top: 20px;
}

#preview img:nth-child(odd){
  margin-right: 10%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], #reportDiv div input {
  font-size: 24px;
  border-radius: 7px;
  width: 100%;
  border: none;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text h1 {
  font-size: 48px;
  margin: 0;
  margin-top: 50px;
}

#text h3 {
  font-size: 30px;
  margin-top: 0;
}

#reports-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#reports-container div {
  margin-bottom: 20px;
  width: 300px;
  background-color: white;
  border-radius: 7px;
  padding: 15px;
}

#reports-container div h2 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
  position: relative;
  font-size: 24px;
  padding-left: 25px;
}

#reports-container div h2::before {
  content: "";
  position: absolute;
  background-image: url("./img/redDot.svg");
  height: 14px;
  width: 14px;
  left: 0;
  top: 50%;
  margin-top: -7px;
}

#reports-container div h3 {
  font-weight: 500;
  margin-bottom: -5px;
}

#reports-container div h2, h3, p {
  font-size: 20px;
  text-align: left;
}

#reports-container p {
  margin-bottom: 10px;
  margin: 0;
}

#reports-container div div {
  margin-bottom: 16px;
  padding: 0;
  width: 100%;
  background-color: none;
  display: flex;
  flex-direction: row;
}

#reports-container div div p {
  padding-left: 23px;
  position: relative;
  padding-right: 10px;
  margin-bottom: 0;
}

#reports-container div div p::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top:50%;
  margin-top: -10px;
}

#reports-container div div p:first-child:before {
  background-image: url("./img/calender.svg");
  width: 18px
}

#reports-container div div p:nth-last-child(1):before {
  background-image: url("./img/watch.svg");
}

#footer {
  background-color: #041B36;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer div img {
  height: 30px;
}
